@media (max-width: 1300px) {
    body::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../imagens/background-programing-order.png);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        opacity: 0.2;
    }
}

@media (max-width: 727px) {
    .input-label {
        text-align: center;
    }

    body {
        font-size: 12px;
    }

    .tecnologia .ling-pro {
        font-size: 12px;
    }
}

@media (max-width: 430px) {
    body {
        font-size: 12px;
    }

    .tecnologia .ling-pro {
        font-size: 12px;
    }
    .nome-email, .senha-usuario {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .nome-email input, .senha-usuario input {
        width: 50%;
    }

    .botoes button {
        width: 20%;
    }

    .botoes {
        gap: 10px;
    }
}